<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css')}}">
    <title>Census API</title>
  </head>

  <body>
    <h1>Pick zipcode and year range</h1>
    <label for="zipcode">Zipcode: </label>
    <input type="text" id="zipcode" name="zipcode"/>      
    <div id="slider" name="slider"></div> 
    <button id="zipyear" type="submit">Submit Zipyear</button>
    <select name="vars" id="vars">
      <option value="housing">Housing</option>
      <option value="education">Education</option>
      <option value="origin">Origin</option>
      <option value="language">Language</option>
      <option value="occupation">Occupation</option>
      <option value="industry">Industry</option>
      <option value="income">Income</option>
      <option value="vacancy">Vacancy</option>
      <option value="house_value">House Value</option>
      <option value="age">Age</option>
    </select>
    <button id="viz" type="button">viz</button>

  <script src="{{ url_for('static', path='/slider.js') }}"></script>
  <script src="{{ url_for('static', path='/input.js') }}"></script>

  </body>
</html>